@font-face {
  font-family: 'Nunito Regular';
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito Bold';
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito italic';
  src: url("../fonts/Nunito-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito Light';
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito Black';
  src: url("../fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: 'Nunito ExtraBold';
  src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

body {
  background-color: #fff;
  font-family: "Nunito Regular";
  font-size: 19px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 20px;
}

.header {
  padding-top: 5px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left-search {
  outline: none;
  border: none;
  padding-left: 10px;
}

.header-left-search::-webkit-input-placeholder {
  color: #C0C0C0;
}

.header-left-search:-ms-input-placeholder {
  color: #C0C0C0;
}

.header-left-search::-ms-input-placeholder {
  color: #C0C0C0;
}

.header-left-search::placeholder {
  color: #C0C0C0;
}

.header-left span {
  font-size: 15px;
  color: #C0C0C0;
  cursor: pointer;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right-dot {
  width: 7px;
  height: 7px;
  background-color: #D32F2F;
  border-radius: 50%;
  position: absolute;
  margin: 0 50px 0 0;
}

.header-right span {
  font-size: 30px;
  margin: 0 10px;
  cursor: pointer;
  color: #C0C0C0;
}

.header-right-prof {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-left: 10px;
}

.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.header .left-discrption {
  margin-left: 60px;
}

.header .left-discrption-item {
  margin-right: 20px;
}

.header .left-discrption-item h5 {
  font-size: 14px;
  color: #C0C0C0;
  margin-bottom: 0;
}

.header .left-discrption-item p {
  color: #C0C0C0;
  color: #A8A8A8;
}

.header .left-username {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .left-username span {
  font-size: 30px;
  margin-top: 5px;
  margin-left: 20px;
  color: #FBC743;
}

.header .left-username-h2 {
  color: #565656;
  font-family: 'Roboto';
  font-weight: 400px;
}

.header .left img {
  width: 100px;
  height: 100px;
}

.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .right-items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .right-items .bookmark {
  background-color: #2196F3;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}

.header .right-items .heart {
  background-color: #689F38;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}

.header .right-items .menu {
  background-color: #9C27B0;
  color: #fff;
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}
/*# sourceMappingURL=main.css.map */